







restauranty/client/node_modules
restauranty/mobile/node_modules
restauranty/server/node_modules
restauranty/client/.env
restauranty/mobile/.env
restauranty/server/.env
restauranty/backend/*/.env
restauranty/backend/*/node_modules
restauranty/mobile/.expo
data/mongo/
certificate.crt
certificate.csr
private.key